*.iml

# macOS
.DS_Store

# Local configuration file (sdk path, etc)
local.properties
secret.json
settings.gradle

# Android Studio
.externalNativeBuild
.gradle
build/
captures/
projectFilesBackup/

# Local project testing module
myapplication

# .idea files
/.idea/caches/**
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/libraries
/.idea/encodings.xml
/.idea/dictionaries
/.idea/vcs.xml

# sample-android
