*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/gradle.xml
/.idea/modules.xml
settings.gradle
/.idea/caches/**
.DS_Store
/build
/captures
.externalNativeBuild
/app/**
/androidsdk/src/test/resources/secret.json
