*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
settings.gradle
/.idea/caches/**
.DS_Store
/build
/captures
.externalNativeBuild
/androidsdk/src/test/resources/secret.json
myapplication
