os: linux
language: android
jdk: oraclejdk8

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

env:
  global:
    - ANDROID_API=28
    - ANDROID_BUILD_TOOLS=27.0.3
    - ADB_INSTALL_TIMEOUT=5 # minutes

android:
  components:
    - tools
    - platform-tools
    - tools
    - build-tools-$ANDROID_BUILD_TOOLS
    - android-$ANDROID_API

  licenses:
   - android-sdk-preview-license-.+
   - android-sdk-license-.+
   - google-gdk-license-.+

before_install:
  - yes | sdkmanager "platforms;android-27"

before_script:
  - CODE_DOCUMENTATION_LOCATION=omisego-core/build/dokka

script:
  - ./gradlew lint # android lint
  - ./gradlew ktlintCheck # kotlin lint
  - ./gradlew clean omisego-core:testDebugUnitTest # unit test for omisego-core module
  - ./gradlew clean omisego-client:testDebugUnitTest # unit test for omisego-client module
  - ./gradlew clean omisego-admin:testDebugUnitTest # unit test for omisego-admin module
  - ./gradlew dokka > /dev/null # generate kotlin doc

before_deploy:
  - touch $CODE_DOCUMENTATION_LOCATION/.nojekyll
  - ./generate_redirected_html.sh > $CODE_DOCUMENTATION_LOCATION/index.html

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local-dir: $CODE_DOCUMENTATION_LOCATION
  on:
    branch: master
