<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="co.omisego.omisego.client">

    <application
            android:label="@string/app_name">
        <uses-library android:name="android.test.base"
                      android:required="false" />
        <uses-library android:name="android.test.mock"
                      android:required="false" />

        <activity
                android:theme="@style/Theme.AppCompat.Light"
                android:name=".activity.TestQRScanActivity"
                android:label="test">
        </activity>
    </application>
</manifest>